In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/pitch_data_2024.csv')

In [4]:
df

,Rk,Player,Age,Team,Lg,WAR,W,L,W-L%,ERA,...,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/BB,Awards,Player-additional
0,1.0,Logan Gilbert,27.0,SEA,AL,2.8,9.0,12.0,0.429,3.23,...,113.0,3.27,0.887,6.4,1.1,1.6,9.5,5.95,ASCYA-6,gilbelo01
1,2.0,Seth Lugo,34.0,KCR,AL,5.3,16.0,9.0,0.640,3.00,...,141.0,3.25,1.089,7.7,0.7,2.1,7.9,3.77,ASCYA-2MVP-15GG,lugose01
2,3.0,Logan Webb,27.0,SFG,NL,3.7,13.0,10.0,0.565,3.47,...,111.0,2.95,1.231,8.9,0.5,2.2,7.6,3.44,ASCYA-6,webblo01
3,4.0,Zack Wheeler,34.0,PHI,NL,6.1,16.0,7.0,0.696,2.57,...,158.0,3.13,0.955,6.3,0.9,2.3,10.1,4.31,ASCYA-2MVP-12,wheelza01
4,5.0,Aaron Nola,31.0,PHI,NL,3.6,14.0,8.0,0.636,3.57,...,114.0,3.94,1.199,8.5,1.4,2.3,8.9,3.94,CYA-11,nolaaa01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1091.0,Luis Torrens,28.0,NYM,NL,0.0,0.0,0.0,NaN,0.00,...,NaN,3.17,0.000,0.0,0.0,0.0,0.0,NaN,NaN,torrelu01
1091,1092.0,Patrick Wisdom,32.0,CHC,NL,0.0,0.0,0.0,NaN,0.00,...,NaN,12.17,6.000,27.0,0.0,27.0,0.0,0.00,NaN,wisdopa01
1092,1093.0,Carl Edwards Jr.,32.0,SDP,NL,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,edwarca01
1093,1094.0,Wander Suero,32.0,HOU,AL,0.0,0.0,1.0,0.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,suerowa01
1094,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,0.500,4.08,...,100.0,4.08,1.270,8.3,1.1,3.1,8.6,2.76,NaN,-9999

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rk                 1094 non-null   float64
 1   Player             1095 non-null   object
 2   Age                1094 non-null   float64
 3   Team               1094 non-null   object
 4   Lg                 1094 non-null   object
 5   WAR                1094 non-null   float64
 6   W                  1094 non-null   float64
 7   L                  1094 non-null   float64
 8   W-L%               808 non-null    float64
 9   ERA                1091 non-null   float64
 10  G                  1094 non-null   float64
 11  GS                 1094 non-null   float64
 12  GF                 1094 non-null   float64
 13  CG                 1094 non-null   float64
 14  SHO                1094 non-null   float64
 15  SV                 1094 non-null   float64
 16  IP                 1094 non-null   float64
 17  H                  1094 non-null   float64
 18  R                  1094 non-null   float64
 19  ER                 1094 non-null   float64
 20  HR                 1094 non-null   float64
 21  BB                 1094 non-null   float64
 22  IBB                1094 non-null   float64
 23  SO                 1094 non-null   float64
 24  HBP                1094 non-null   float64
 25  BK                 1094 non-null   float64
 26  WP                 1094 non-null   float64
 27  BF                 1094 non-null   float64
 28  ERA+               1027 non-null   float64
 29  FIP                1091 non-null   float64
 30  WHIP               1091 non-null   float64
 31  H9                 1091 non-null   float64
 32  HR9                1091 non-null   float64
 33  BB9                1091 non-null   float64
 34  SO9                1091 non-null   float64
 35  SO/BB              1032 non-null   float64
 36  Awards             40 non-null     object
 37  Player-additional  1095 non-null   object
dtypes: float64(33), object(5)
memory usage: 325.2+ KB

In [6]:
df.describe()

,Rk,Age,WAR,W,L,W-L%,ERA,G,GS,GF,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/BB
count,1094.000000,1094.000000,1094.000000,1094.000000,1094.000000,808.000000,1091.000000,1094.000000,1094.000000,1094.000000,...,1094.000000,1094.000000,1027.000000,1091.000000,1091.000000,1091.000000,1091.000000,1091.000000,1091.000000,1032.000000
mean,547.500000,28.806216,0.405393,2.489031,2.493601,0.481417,5.425958,22.404936,4.789762,5.390311,...,1.542048,189.733090,106.713729,4.887883,1.496160,9.554262,1.373877,3.915399,7.958203,2.727432
std,315.954902,3.508051,1.063999,3.350707,3.117324,0.313738,6.938064,20.196102,9.061932,8.435663,...,2.026261,195.376204,63.327545,3.506068,0.986353,6.487893,1.884657,4.038335,3.269354,1.881542
min,1.000000,20.000000,-1.900000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,1.000000,2.000000,-0.830000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,274.250000,26.000000,-0.200000,0.000000,0.000000,0.286000,3.000000,5.000000,0.000000,0.000000,...,0.000000,43.000000,71.000000,3.455000,1.141500,7.200000,0.600000,2.400000,6.600000,1.670000
50%,547.500000,28.000000,0.100000,1.000000,1.000000,0.500000,4.200000,16.000000,0.000000,2.000000,...,1.000000,124.000000,96.000000,4.190000,1.340000,8.600000,1.100000,3.300000,8.100000,2.430000
75%,820.750000,31.000000,0.700000,4.000000,4.000000,0.667000,5.745000,32.000000,4.000000,7.000000,...,2.000000,258.000000,125.500000,5.240000,1.588000,10.400000,1.600000,4.500000,9.800000,3.305000
max,1094.000000,44.000000,6.300000,18.000000,16.000000,1.000000,135.000000,79.000000,33.000000,66.000000,...,14.000000,841.000000,674.000000,51.170000,21.000000,108.000000,27.000000,81.000000,27.000000,20.000000

In [9]:
df[["IP", "ERA", "SO", "HR", "BB", "HBP", "SHO", "W", "L", "WHIP", "SV", "SO/BB", "WP", "HBP", "WAR", "W-L%"]].corr()

,IP,ERA,SO,HR,BB,HBP,SHO,W,L,WHIP,SV,SO/BB,WP,HBP,WAR,W-L%
IP,1.000000,-0.181922,0.967970,0.900328,0.904319,0.671709,0.265055,0.885785,0.856609,-0.213835,0.063381,0.222494,0.552023,0.671709,0.657353,0.089589
ERA,-0.181922,1.000000,-0.187633,-0.102933,-0.158130,-0.112830,-0.026383,-0.178469,-0.117197,0.904566,-0.082340,-0.234053,-0.110347,-0.112830,-0.242871,-0.416301
SO,0.967970,-0.187633,1.000000,0.847261,0.884158,0.653032,0.247764,0.886326,0.820368,-0.221218,0.109461,0.273902,0.584732,0.653032,0.692579,0.107585
HR,0.900328,-0.102933,0.847261,1.000000,0.824488,0.600170,0.191934,0.750390,0.833299,-0.148267,-0.011222,0.151995,0.439810,0.600170,0.414957,-0.027654
BB,0.904319,-0.158130,0.884158,0.824488,1.000000,0.659740,0.219445,0.775465,0.830380,-0.161599,0.082890,-0.000613,0.616251,0.659740,0.509522,0.016546
HBP,0.671709,-0.112830,0.653032,0.600170,0.659740,1.000000,0.112731,0.585246,0.590492,-0.146726,0.014282,0.118819,0.391236,1.000000,0.393624,0.050404
SHO,0.265055,-0.026383,0.247764,0.191934,0.219445,0.112731,1.000000,0.266397,0.185971,-0.036466,-0.033768,0.054933,0.166650,0.112731,0.210590,0.045692
W,0.885785,-0.178469,0.886326,0.750390,0.775465,0.585246,0.266397,1.000000,0.690038,-0.209380,0.142468,0.242914,0.483640,0.585246,0.706216,0.334488
L,0.856609,-0.117197,0.820368,0.833299,0.830380,0.590492,0.185971,0.690038,1.000000,-0.143507,0.112652,0.111846,0.482810,0.590492,0.408957,-0.244230
WHIP,-0.213835,0.904566,-0.221218,-0.148267,-0.161599,-0.146726,-0.036466,-0.209380,-0.143507,1.000000,-0.096093,-0.331214,-0.121551,-0.146726,-0.248665,-0.424441
SV,0.063381,-0.082340,0.109461,-0.011222,0.082890,0.014282,-0.033768,0.142468,0.112652,-0.096093,1.000000,0.103297,0.097726,0.014282,0.176529,0.045647
SO/BB,0.222494,-0.234053,0.273902,0.151995,-0.000613,0.118819,0.054933,0.242914,0.111846,-0.331214,0.103297,1.000000,0.052644,0.118819,0.302650,0.220661
WP,0.552023,-0.110347,0.584732,0.439810,0.616251,0.391236,0.166650,0.483640,0.482810,-0.121551,0.097726,0.052644,1.000000,0.391236,0.306862,0.019448
HBP,0.671709,-0.112830,0.653032,0.600170,0.659740,1.000000,0.112731,0.585246,0.590492,-0.146726,0.014282,0.118819,0.391236,1.000000,0.393624,0.050404
WAR,0.657353,-0.242871,0.692579,0.414957,0.509522,0.393624,0.210590,0.706216,0.408957,-0.248665,0.176529,0.302650,0.306862,0.393624,1.000000,0.289206
W-L%,0.089589,-0.416301,0.107585,-0.027654,0.016546,0.050404,0.045692,0.334488,-0.244230,-0.424441,0.045647,0.220661,0.019448,0.050404,0.289206,1.000000

In [8]:
reduced_df = df[["Player", "SO/BB", "WHIP", "W-L%", "IP", "ERA", "Team"]]

In [9]:
reduced_df

                Player  SO/BB   WHIP   W-L%     IP   ERA Team
0        Logan Gilbert   5.95  0.887  0.429  208.2  3.23  SEA
1            Seth Lugo   3.77  1.089  0.640  206.2  3.00  KCR
2           Logan Webb   3.44  1.231  0.565  204.2  3.47  SFG
3         Zack Wheeler   4.31  0.955  0.696  200.0  2.57  PHI
4           Aaron Nola   3.94  1.199  0.636  199.1  3.57  PHI
...                ...    ...    ...    ...    ...   ...  ...
1090      Luis Torrens    NaN  0.000    NaN    0.1  0.00  NYM
1091    Patrick Wisdom   0.00  6.000    NaN    0.1  0.00  CHC
1092  Carl Edwards Jr.   0.00    NaN    NaN    0.0   NaN  SDP
1093      Wander Suero    NaN    NaN  0.000    0.0   NaN  HOU
1094    League Average   2.76  1.270  0.500    NaN  4.08  NaN

[1095 rows x 7 columns]

In [10]:
reduced_df.describe()

             SO/BB         WHIP        W-L%           IP          ERA
count  1032.000000  1091.000000  808.000000  1094.000000  1091.000000
mean      2.727432     1.496160    0.481417    44.527148     5.425958
std       1.881542     0.986353    0.313738    47.029816     6.938064
min       0.000000     0.000000    0.000000     0.000000     0.000000
25%       1.670000     1.141500    0.286000     9.200000     3.000000
50%       2.430000     1.340000    0.500000    29.200000     4.200000
75%       3.305000     1.588000    0.667000    61.200000     5.745000
max      20.000000    21.000000    1.000000   208.200000   135.000000

In [13]:
reduced_df.query("IP > 9")

                Player  SO/BB   WHIP   W-L%     IP    ERA Team
0        Logan Gilbert   5.95  0.887  0.429  208.2   3.23  SEA
1            Seth Lugo   3.77  1.089  0.640  206.2   3.00  KCR
2           Logan Webb   3.44  1.231  0.565  204.2   3.47  SFG
3         Zack Wheeler   4.31  0.955  0.696  200.0   2.57  PHI
4           Aaron Nola   3.94  1.199  0.636  199.1   3.57  PHI
..                 ...    ...    ...    ...    ...    ...  ...
876  Mason Montgomery*   3.40  1.138    NaN    9.2   1.86  TBR
877   Jack O'Loughlin*   1.20  1.862    NaN    9.2   4.66  OAK
878         Luis Frías   1.71  2.690  0.000    9.2  13.97  2TM
881        Lake Bachar   2.75  1.500  0.000    9.1   3.86  MIA
882     Casey Legumina   3.50  1.821    NaN    9.1   8.68  CIN

[824 rows x 7 columns]

In [17]:
reduced_df.dropna(inplace=True)

C:\Users\santanamorenat6547\AppData\Local\Temp\ipykernel_24016\1068235543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df.dropna(inplace=True)

In [18]:
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1090 entries, 0 to 1091
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  1090 non-null   object
 1   SO      1090 non-null   float64
 2   BB      1090 non-null   float64
 3   WHIP    1090 non-null   float64
 4   W       1090 non-null   float64
 5   L       1090 non-null   float64
 6   IP      1090 non-null   float64
 7   ERA     1090 non-null   float64
 8   Team    1090 non-null   object
dtypes: float64(7), object(2)
memory usage: 85.2+ KB

In [19]:
reduced_df.Player.value_counts()

Player
Mike Baumann           8
Yohan Ramírez          7
Matt Bowman            6
Mitch White            5
Enyel De Los Santos    5
                      ..
Ben Brown              1
Aaron Bummer*          1
Justin Slaten          1
Keaton Winn            1
Patrick Wisdom         1
Name: count, Length: 851, dtype: int64

In [20]:
reduced_df.query("Player == 'Mike Baumann'")

           Player    SO    BB   WHIP    W    L    IP    ERA Team
369  Mike Baumann  58.0  28.0  1.491  3.0  1.0  58.1   5.55  5TM
370  Mike Baumann  39.0  21.0  1.500  3.0  0.0  44.0   4.91  3TM
371  Mike Baumann  19.0   7.0  1.465  0.0  1.0  14.1   7.53  2TM
372  Mike Baumann  16.0   9.0  1.473  1.0  0.0  18.1   3.44  BAL
373  Mike Baumann  16.0   8.0  1.286  2.0  0.0  16.1   5.51  SEA
374  Mike Baumann   1.0   0.0  4.500  0.0  0.0   0.2  27.00  SFG
375  Mike Baumann   7.0   4.0  1.929  0.0  0.0   9.1   6.75  LAA
376  Mike Baumann  18.0   7.0  1.317  0.0  1.0  13.2   6.59  MIA

In [21]:
# drop rows where team = r'\d+TM'

reduced_df = reduced_df[~reduced_df.Team.str.contains(r'\d+TM')]

In [22]:
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 972 entries, 0 to 1091
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  972 non-null    object
 1   SO      972 non-null    float64
 2   BB      972 non-null    float64
 3   WHIP    972 non-null    float64
 4   W       972 non-null    float64
 5   L       972 non-null    float64
 6   IP      972 non-null    float64
 7   ERA     972 non-null    float64
 8   Team    972 non-null    object
dtypes: float64(7), object(2)
memory usage: 75.9+ KB

In [24]:
reduced_df.Player.value_counts()

Player
Mike Baumann           5
Yohan Ramírez          4
Matt Bowman            4
Mitch White            3
Enyel De Los Santos    3
                      ..
Ben Brown              1
Aaron Bummer*          1
Justin Slaten          1
Keaton Winn            1
Patrick Wisdom         1
Name: count, Length: 851, dtype: int64

In [18]:
df.nlargest(50, "SO/BB")[["Player", "SO/BB", "SO", "BB"]]

               Player  SO/BB     SO    BB
823      Shane Bieber  20.00   20.0   1.0
502      Chris Martin  16.67   50.0   3.0
657    Robert Gasser*  16.00   16.0   1.0
854      Jacob deGrom  14.00   14.0   1.0
359       Luis García  13.00   13.0   1.0
327      Tyson Miller  12.00   12.0   1.0
275       Jakob Junis  10.67   32.0   3.0
334       Lucas Erceg  10.33   31.0   3.0
767    Shaun Anderson  10.00   10.0   1.0
886       Josh Winder  10.00   10.0   1.0
903    Nick Hernandez  10.00   10.0   1.0
789        Alek Jacob   9.50   19.0   2.0
353      Héctor Neris   9.00   18.0   2.0
698  Michael McGreevy   9.00   18.0   2.0
953       Kodai Senga   9.00    9.0   1.0
235         A.J. Puk*   8.60   43.0   5.0
242      Tyler Rogers   8.50   51.0   6.0
574  Braxton Garrett*   8.50   34.0   4.0
718       John Means*   8.00   16.0   2.0
633       Kris Bubic*   7.80   39.0   5.0
8        George Kirby   7.78  179.0  23.0
123         Bryan Woo   7.77  101.0  13.0
400       Burch Smith   7.67   23.0   3.0
323      Matt Strahm*   7.18   79.0  11.0
529       Edwin Uceta   7.13   57.0   8.0
232        Cole Sands   7.08   85.0  12.0
64      Jack Flaherty   7.00  133.0  19.0
239       Kevin Kelly   7.00   63.0   9.0
805    Nick Robertson   7.00   14.0   2.0
806    Nick Robertson   7.00   14.0   2.0
937     Matt Andriese   7.00    7.0   1.0
58         Zach Eflin   6.69   87.0  13.0
207    Emmanuel Clase   6.60   66.0  10.0
537      Jesús Tinoco   6.60   33.0   5.0
7       Tarik Skubal*   6.51  228.0  35.0
522     Xzavion Curry   6.50   13.0   2.0
677         Kaleb Ort   6.50   26.0   4.0
816    Seth Halvorsen   6.50   13.0   2.0
91      Nick Martinez   6.44  116.0  18.0
406     Justin Slaten   6.44   58.0   9.0
416    Carlos Estévez   6.40   32.0   5.0
640   Danny Coulombe*   6.40   32.0   5.0
98           Joe Ryan   6.39  147.0  23.0
273       Jakob Junis   6.38   51.0   8.0
87   Garrett Crochet*   6.33  209.0  33.0
238       Griffin Jax   6.33   95.0  15.0
494     Brant Hurter*   6.33   38.0   6.0
756      Hunter Bigge   6.33   19.0   3.0
42     Shota Imanaga*   6.21  174.0  28.0
202        Cade Smith   6.06  103.0  17.0